
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/AdminPartials/PartialHead.cshtml")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @await Html.PartialAsync("~/Views/AdminPartials/PartialNavbar.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("~/Views/AdminPartials/PartialSidebar.cshtml")
            <!-- page-body-wrapper ends -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>



                <!-- partial -->
            </div>
        </div>
    </div>
        <!-- plugins:js -->
        @await Html.PartialAsync("~/Views/AdminPartials/PartialScript.cshtml")
</body>
</html>